.navBar-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 300px;
  background-color: var(--primary-color);
  padding: 10px 0;
  border-radius: 33px;
  color: var(--text-color);
  z-index: 1000;
}

#navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  gap: 3px;
  cursor: pointer;
  font-size: 18px;
}

.btn ion-icon {
  font-size: 20px;
}
